In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#print(purchase_data)

In [2]:
# Player Count
# Calculate the total number of unique players in "SN" column
player_df = purchase_data["SN"].value_counts()
player_df.count()
count = player_df.count()

# Display the total number of players
total_players_df = pd.DataFrame({"Total Players": [count]})
total_players_df.style.set_properties(**{'text-align': 'left'})

In [3]:
# Purchasing Analysis (Total)
# Find the number of unique items
item_df = purchase_data["Item ID"].value_counts()
item_df.count()
item = item_df.count()

# Find the average price
average = purchase_data["Price"].mean()
average

# Find the number of purchases
purchases = purchase_data["Purchase ID"].count()
purchases

# Find the total revenue
revenue = purchase_data["Price"].sum()
revenue

# Create the summary table
summary_df = pd.DataFrame({"Number of Unique Items": [item], "Average Price": [average], "Number of Purchases": [purchases],
                           "Total Revenue": [revenue]})

# Format and display the summary table
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:.2f}".format)
summary_df.style.set_properties(**{'text-align': 'left'})

In [4]:
# Gender Demographics
# Create new dataframe with reduced columns
reduced_purchase_df = purchase_data.loc[:, ["SN", "Gender"]]
reduced_purchase_df

# Drop duplicate "SN" rows
reduced_purchase_df = reduced_purchase_df.drop_duplicates(subset=['SN'])
reduced_purchase_df

# Count number of players by gender
gender_total = reduced_purchase_df["Gender"].value_counts()
gender_total

# Calculate the percentage for each gender
gender_percent = gender_total / count * 100
gender_percent

# Create the summary table
gender_summary = pd.DataFrame({"Total Count" : gender_total, "Percentage of Players": gender_percent})
gender_summary

# Format and display the summary table
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].astype(float).map("{0:.2f}%".format)
gender_summary.style.set_properties(**{'text-align': 'left'})

In [5]:
# Purchasing Analysis (Gender)
# Purchase count
purchase_df = purchase_data.loc[:, ["Gender", "Price"]]
purchase_df

gen_pur_count = purchase_df["Gender"].value_counts()
gen_pur_count

# Average purchase price
gen_amt_sum = purchase_df.groupby(["Gender"])
gen_amt_sum = gen_amt_sum["Price"].sum()
gen_amt_sum

avg_pur = gen_amt_sum / gen_pur_count
avg_pur

# Total purchase value
gen_amt_sum

# Average total purchase per person
avg_person_pur = gen_amt_sum / gender_total
avg_person_pur

# Create the summary table
purchasing_summary = pd.DataFrame({"Purchase Count" : gen_pur_count, "Average Purchase Price": avg_pur, 
                                   "Total Purchase Value": gen_amt_sum, "Avg Total Purchase per Person": avg_person_pur})
purchasing_summary

# Format and display the summary table
purchasing_summary["Average Purchase Price"] = purchasing_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchasing_summary["Total Purchase Value"] = purchasing_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchasing_summary["Avg Total Purchase per Person"] = purchasing_summary["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
purchasing_summary.style.set_properties(**{'text-align': 'left'})

In [6]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
# Age Demographics
# Create new dataframe with reduced columns
reduced_age_df = purchase_data.loc[:, ["SN", "Age"]]
reduced_age_df

# Drop duplicate "SN" rows
reduced_age_df = reduced_age_df.drop_duplicates(subset=['SN'])
reduced_age_df

                SN  Age
0          Lisim78   20
1      Lisovynya38   40
2       Ithergue48   24
3    Chamassasya86   24
4        Iskosia90   23
..             ...  ...
773         Hala31   21
774     Jiskjask80   11
775     Aethedru70   21
777     Yathecal72   20
778        Sisur91    7

[576 rows x 2 columns]

In [8]:
# Create bins to place the age values
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice the age values and place into appropriate bins

In [9]:
# Place the group into a new column inside the dataframe
reduced_age_df[""]=pd.cut(reduced_age_df["Age"], bins, labels=group_labels)

In [10]:
# Create a GroupBy object based on ""
age_group = reduced_age_df.groupby("")

In [16]:
# Count the number of players in each bin
player_amount = age_group["Age"].count()
player_amount

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [17]:
# Calculate the percentage of players in each group
percent = player_amount / count * 100
percent

<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: Age, dtype: float64

In [18]:
# Create the summary table
age_summary = pd.DataFrame({"Total Count" : player_amount, "Percentage of Players": percent})
age_summary

       Total Count  Percentage of Players

<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

In [ ]:
# Format and display the summary table
age_summary["Percentage of Players"] = age_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
summary_df.style.set_properties(**{'text-align': 'left'})