In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#print(purchase_data)

In [2]:
# Player Count
# Calculate the total number of unique players in "SN" column
player_df = purchase_data["SN"].value_counts()
player_df.count()
count = player_df.count()

# Display the total number of players
total_players_df = pd.DataFrame({"Total Players": [count]})
total_players_df.style.set_properties(**{'text-align': 'left'})

In [3]:
# Purchasing Analysis (Total)
# Find the number of unique items
item_df = purchase_data["Item ID"].value_counts()
item_df.count()
item = item_df.count()

# Find the average price
average = purchase_data["Price"].mean()
average

# Find the number of purchases
purchases = purchase_data["Purchase ID"].count()
purchases

# Find the total revenue
revenue = purchase_data["Price"].sum()
revenue

# Create the summary table
summary_df = pd.DataFrame({"Number of Unique Items": [item], "Average Price": [average], "Number of Purchases": [purchases],
                           "Total Revenue": [revenue]})

# Format and display the summary table
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:.2f}".format)
summary_df.style.set_properties(**{'text-align': 'left'})

In [4]:
# Gender Demographics
# Create new dataframe with reduced columns
reduced_purchase_df = purchase_data.loc[:, ["SN", "Gender"]]
reduced_purchase_df

# Drop duplicate "SN" rows
reduced_purchase_df = reduced_purchase_df.drop_duplicates(subset=['SN'])
reduced_purchase_df

# Count number of players by gender
gender_total = reduced_purchase_df["Gender"].value_counts()
gender_total

# Calculate the percentage for each gender
gender_percent = gender_total / count * 100
gender_percent

# Create the summary table
gender_summary = pd.DataFrame({"Total Count" : gender_total, "Percentage of Players": gender_percent})
gender_summary

# Format and display the summary table
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].astype(float).map("{0:.2f}%".format)
gender_summary.style.set_properties(**{'text-align': 'left'})

In [ ]:
# Purchasing Analysis (Gender)