In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#print(purchase_data)

In [2]:
# Player Count
# Calculate the total number of unique players in "SN" column
player_df = purchase_data["SN"].value_counts()
player_df.count()
count = player_df.count()

# Display the total number of players
total_players_df = pd.DataFrame({"Total Players": [count]})
total_players_df.style.set_properties(**{'text-align': 'left'})

In [3]:
# Purchasing Analysis (Total)
# Find the number of unique items
item_df = purchase_data["Item ID"].value_counts()
item_df.count()
item = item_df.count()

# Find the average price
average = purchase_data["Price"].mean()
average

# Find the number of purchases
purchases = purchase_data["Purchase ID"].count()
purchases

# Find the total revenue
revenue = purchase_data["Price"].sum()
revenue

# Create the summary table
summary_df = pd.DataFrame({"Number of Unique Items": [item], "Average Price": [average], "Number of Purchases": [purchases],
                           "Total Revenue": [revenue]})

# Format and display the summary table
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:.2f}".format)
summary_df.style.set_properties(**{'text-align': 'left'})

In [4]:
# Gender Demographics
# Create new dataframe with reduced columns
reduced_purchase_df = purchase_data.loc[:, ["SN", "Gender"]]
reduced_purchase_df

# Drop duplicate "SN" rows
reduced_purchase_df = reduced_purchase_df.drop_duplicates(subset=['SN'])
reduced_purchase_df

# Count number of players by gender
gender_total = reduced_purchase_df["Gender"].value_counts()
gender_total

# Calculate the percentage for each gender
gender_percent = gender_total / count * 100
gender_percent

# Create the summary table
gender_summary = pd.DataFrame({"Total Count" : gender_total, "Percentage of Players": gender_percent})
gender_summary

# Format and display the summary table
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].astype(float).map("{0:.2f}%".format)
gender_summary.style.set_properties(**{'text-align': 'left'})

In [5]:
# Purchasing Analysis (Gender)
print(purchase_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

In [7]:
# Purchase count
purchase_df = purchase_data.loc[:, ["Gender", "Price"]]
purchase_df

     Gender  Price
0      Male   3.53
1      Male   1.56
2      Male   4.88
3      Male   3.27
4      Male   1.44
..      ...    ...
775  Female   3.54
776    Male   1.63
777    Male   3.46
778    Male   4.19
779    Male   4.60

[780 rows x 2 columns]

In [9]:
gen_pur_count = purchase_df["Gender"].value_counts()
gen_pur_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [ ]:
# Average purchase price