In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#print(purchase_data)

In [2]:
# Player Count
# Calculate the total number of unique players in "SN" column
player_df = purchase_data["SN"].value_counts()
player_df.count()
count = player_df.count()

# Display the total number of players
total_players_df = pd.DataFrame({"Total Players": [count]})
total_players_df.style.set_properties(**{'text-align': 'left'})

In [3]:
# Purchasing Analysis (Total)
# Find the number of unique items
item_df = purchase_data["Item ID"].value_counts()
item_df.count()
item = item_df.count()

# Find the average price
average = purchase_data["Price"].mean()
average

# Find the number of purchases
purchases = purchase_data["Purchase ID"].count()
purchases

# Find the total revenue
revenue = purchase_data["Price"].sum()
revenue

# Create the summary table
summary_df = pd.DataFrame({"Number of Unique Items": [item], "Average Price": [average], "Number of Purchases": [purchases],
                           "Total Revenue": [revenue]})

# Format and display the summary table
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:.2f}".format)
summary_df.style.set_properties(**{'text-align': 'left'})

In [4]:
# Gender Demographics
# Create new dataframe with reduced columns
reduced_purchase_df = purchase_data.loc[:, ["SN", "Gender"]]
reduced_purchase_df

# Drop duplicate "SN" rows
reduced_purchase_df = reduced_purchase_df.drop_duplicates(subset=['SN'])
reduced_purchase_df

# Count number of players by gender
gender_total = reduced_purchase_df["Gender"].value_counts()
gender_total

# Calculate the percentage for each gender
gender_percent = gender_total / count * 100
gender_percent

# Create the summary table
gender_summary = pd.DataFrame({"Total Count" : gender_total, "Percentage of Players": gender_percent})
gender_summary

# Format and display the summary table
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].astype(float).map("{0:.2f}%".format)
gender_summary.style.set_properties(**{'text-align': 'left'})

In [5]:
# Purchasing Analysis (Gender)
# Purchase count
purchase_df = purchase_data.loc[:, ["Gender", "Price"]]
purchase_df

gen_pur_count = purchase_df["Gender"].value_counts()
gen_pur_count

# Average purchase price
gen_amt_sum = purchase_df.groupby(["Gender"])
gen_amt_sum = gen_amt_sum["Price"].sum()
gen_amt_sum

avg_pur = gen_amt_sum / gen_pur_count
avg_pur

# Average total purchase per person
avg_person_pur = gen_amt_sum / gender_total
avg_person_pur

# Create the summary table
purchasing_summary = pd.DataFrame({"Purchase Count" : gen_pur_count, "Average Purchase Price": avg_pur, 
                                   "Total Purchase Value": gen_amt_sum, "Avg Total Purchase per Person": avg_person_pur})
purchasing_summary

# Format and display the summary table
purchasing_summary["Average Purchase Price"] = purchasing_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchasing_summary["Total Purchase Value"] = purchasing_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchasing_summary["Avg Total Purchase per Person"] = purchasing_summary["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
purchasing_summary.style.set_properties(**{'text-align': 'left'})

In [6]:
# Age Demographics
# Create new dataframe with reduced columns
reduced_age_df = purchase_data.loc[:, ["SN", "Age"]]
reduced_age_df

# Drop duplicate "SN" rows
reduced_age_df = reduced_age_df.drop_duplicates(subset=['SN'])
reduced_age_df

# Create bins to place the age values
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the group into a new column inside the dataframe
reduced_age_df[""]=pd.cut(reduced_age_df["Age"], bins, labels=group_labels)

# Create a GroupBy object based on ""
age_group = reduced_age_df.groupby("")

# Count the number of players in each bin
player_amount = age_group["Age"].count()
player_amount

# Calculate the percentage of players in each group
percent = player_amount / count * 100
percent

# Create the summary table
age_summary = pd.DataFrame({"Total Count" : player_amount, "Percentage of Players": percent})
age_summary

# Format and display the summary table
age_summary["Percentage of Players"] = age_summary["Percentage of Players"].astype(float).map("{:.2f}%".format)
age_summary.style.set_properties(**{'text-align': 'left'})

In [7]:
# Purchasing Analysis (Age)
# Create new dataframe with reduced columns
reduced_pur_df = purchase_data.loc[:, ["SN", "Age", "Price"]]
reduced_pur_df

# Slice the data and place it into bins
pd.cut(reduced_pur_df["Age"], bins, labels=group_labels)

# Place the data into a new column inside of the dataframe
reduced_pur_df["Age Ranges"] = pd.cut(reduced_pur_df["Age"], bins, labels=group_labels)
reduced_pur_df.head()

# Create a GroupBy object based on "Age Ranges"
pur_df = reduced_pur_df.groupby("Age Ranges")
pur_df.head(5)

# Calculate the purchase count
pur_count=pur_df["Age"].count()
pur_count

# Calculate total purchase value in each bin
pur_tot = pur_df["Price"].sum()
pur_tot

# Calculate the average purchase price
pur_avg = pur_tot / pur_count
pur_avg

# Calculate the average total purchase per person
tot_avg = pur_tot / player_amount
tot_avg

# Create the summary table
pur_summary = pd.DataFrame({"Purchase Count": pur_count, "Average Purchase Price": pur_avg,
                            "Total Purchase Value": pur_tot, "Avg Total Purchase per Person": tot_avg})
pur_summary

# Format and display the summary table
pur_summary["Average Purchase Price"] = pur_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
pur_summary["Total Purchase Value"] = pur_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
pur_summary["Avg Total Purchase per Person"] = pur_summary["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
pur_summary.style.set_properties(**{'text-align': 'left'})

In [8]:
# Top Spenders
# 
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [9]:
top_spenders_df = purchase_data.loc[:, ["SN", "Price"]]
top_spenders_df

                SN  Price
0          Lisim78   3.53
1      Lisovynya38   1.56
2       Ithergue48   4.88
3    Chamassasya86   3.27
4        Iskosia90   1.44
..             ...    ...
775     Aethedru70   3.54
776         Iral74   1.63
777     Yathecal72   3.46
778        Sisur91   4.19
779      Ennrian78   4.60

[780 rows x 2 columns]

In [10]:
# Calculate the purchase count for the top spenders
top_count = top_spenders_df["SN"].value_counts()
top_count

Lisosia93        5
Iral74           4
Idastidru52      4
Umolrian85       3
Idai61           3
                ..
Haerith37        1
Ristydru66       1
Lassassasda30    1
Quanunwen42      1
Aellynun67       1
Name: SN, Length: 576, dtype: int64

In [11]:
# Calculate the purchase count for the top spend
top = top_spenders_df.groupby(["SN"])
top = top["Price"].sum()
top

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [12]:
# Calculate top average purchase prices
top_avg = top / top_count
top_avg

Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Length: 576, dtype: float64

In [13]:
# Create the summary table
top_summary = pd.DataFrame({"Purchase Count": top_count, "Average Purchase Price": top_avg,
                            "Total Purchase Value": top})
top_summary = top_summary.sort_values(["Total Purchase Value"], ascending=False)
top_summary.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [14]:
# Format and display the summary table
top_summary["Average Purchase Price"] = top_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
top_summary["Total Purchase Value"] = top_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
top_summary.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10