In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#print(purchase_data)

In [2]:
# Player Count
# Calculate the total number of unique players in "SN" column
player_df = purchase_data["SN"].value_counts()
player_df.count()
count = player_df.count()

# Display the total number of players
total_players_df = pd.DataFrame({"Total Players": [count]})
total_players_df.style.set_properties(**{'text-align': 'left'})

In [6]:
# Purchasing Analysis (Total)
# Find the number of unique items
item_df = purchase_data["Item ID"].value_counts()
item_df.count()
item = item_df.count()

# Find the average price
average = purchase_data["Price"].mean()
average

# Find the number of purchases
purchases = purchase_data["Purchase ID"].count()
purchases

# Find the total revenue
revenue = purchase_data["Price"].sum()
revenue

# Create the summary table
summary_df = pd.DataFrame({"Number of Unique Items": [item], "Average Price": [average], "Number of Purchases": [purchases],
                           "Total Revenue": [revenue]})

# Format and display the summary table
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [4]:
print(purchase_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

In [15]:
# Gender Demographics
# Calculate percentage and count of male players
player_df

Lisosia93      5
Idastidru52    4
Iral74         4
Hada39         3
Siallylis44    3
              ..
Isursuir31     1
Aesri53        1
Ethron58       1
Alim85         1
Eurisuru25     1
Name: SN, Length: 576, dtype: int64

In [18]:
grouped_df = purchase_data.groupby(['SN'])
grouped_df.count()

               Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Adairialis76             1    1       1        1          1      1
Adastirin33              1    1       1        1          1      1
Aeda94                   1    1       1        1          1      1
Aela59                   1    1       1        1          1      1
Aelaria33                1    1       1        1          1      1
...                    ...  ...     ...      ...        ...    ...
Yathecal82               3    3       3        3          3      3
Yathedeu43               2    2       2        2          2      2
Yoishirrala98            1    1       1        1          1      1
Zhisrisu83               2    2       2        2          2      2
Zontibe81                3    3       3        3          3      3

[576 rows x 6 columns]

In [20]:
gender = grouped_df["Gender"].value_counts()
gender

SN             Gender
Adairialis76   Male      1
Adastirin33    Female    1
Aeda94         Male      1
Aela59         Male      1
Aelaria33      Male      1
                        ..
Yathecal82     Female    3
Yathedeu43     Male      2
Yoishirrala98  Female    1
Zhisrisu83     Male      2
Zontibe81      Male      3
Name: Gender, Length: 576, dtype: int64