In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#print(purchase_data)

In [2]:
# Player Count
# Calculate the total number of unique players in "SN" column
player_df = purchase_data["SN"].value_counts()
player_df.count()
count = player_df.count()

# Display the total number of players
total_players_df = pd.DataFrame({"Total Players": [count]})
total_players_df.style.set_properties(**{'text-align': 'left'})

In [3]:
# Purchasing Analysis (Total)
# Find the number of unique items
item_df = purchase_data["Item ID"].value_counts()
item_df.count()
item = item_df.count()

# Find the average price
average = purchase_data["Price"].mean()
average

# Find the number of purchases
purchases = purchase_data["Purchase ID"].count()
purchases

# Find the total revenue
revenue = purchase_data["Price"].sum()
revenue

# Create the summary table
summary_df = pd.DataFrame({"Number of Unique Items": [item], "Average Price": [average], "Number of Purchases": [purchases],
                           "Total Revenue": [revenue]})

# Format and display the summary table
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:.2f}".format)
summary_df.style.set_properties(**{'text-align': 'left'})

In [4]:
# Gender Demographics
# Create new dataframe with reduced columns
reduced_purchase_df = purchase_data.loc[:, ["SN", "Gender"]]
reduced_purchase_df

# Drop duplicate "SN" rows
reduced_purchase_df = reduced_purchase_df.drop_duplicates(subset=['SN'])
reduced_purchase_df

# Count number of players by gender
gender_total = reduced_purchase_df["Gender"].value_counts()
gender_total

# Calculate the percentage for each gender
gender_percent = gender_total / count * 100
gender_percent

# Create the summary table
gender_summary = pd.DataFrame({"Total Count" : gender_total, "Percentage of Players": gender_percent})
gender_summary

# Format and display the summary table
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].astype(float).map("{0:.2f}%".format)
gender_summary.style.set_properties(**{'text-align': 'left'})

In [5]:
# Purchasing Analysis (Gender)
# Purchase count
purchase_df = purchase_data.loc[:, ["Gender", "Price"]]
purchase_df

gen_pur_count = purchase_df["Gender"].value_counts()
gen_pur_count

# Average purchase price
gen_amt_sum = purchase_df.groupby(["Gender"])
gen_amt_sum = gen_amt_sum["Price"].sum()
gen_amt_sum

avg_pur = gen_amt_sum / gen_pur_count
avg_pur

# Average total purchase per person
avg_person_pur = gen_amt_sum / gender_total
avg_person_pur

# Create the summary table
purchasing_summary = pd.DataFrame({"Purchase Count" : gen_pur_count, "Average Purchase Price": avg_pur, 
                                   "Total Purchase Value": gen_amt_sum, "Avg Total Purchase per Person": avg_person_pur})
purchasing_summary

# Format and display the summary table
purchasing_summary["Average Purchase Price"] = purchasing_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchasing_summary["Total Purchase Value"] = purchasing_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchasing_summary["Avg Total Purchase per Person"] = purchasing_summary["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
purchasing_summary.style.set_properties(**{'text-align': 'left'})

In [6]:
# Age Demographics
# Create new dataframe with reduced columns
reduced_age_df = purchase_data.loc[:, ["SN", "Age"]]
reduced_age_df

# Drop duplicate "SN" rows
reduced_age_df = reduced_age_df.drop_duplicates(subset=['SN'])
reduced_age_df

# Create bins to place the age values
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the group into a new column inside the dataframe
reduced_age_df[""]=pd.cut(reduced_age_df["Age"], bins, labels=group_labels)

# Create a GroupBy object based on ""
age_group = reduced_age_df.groupby("")

# Count the number of players in each bin
player_amount = age_group["Age"].count()
player_amount

# Calculate the percentage of players in each group
percent = player_amount / count * 100
percent

# Create the summary table
age_summary = pd.DataFrame({"Total Count" : player_amount, "Percentage of Players": percent})
age_summary

# Format and display the summary table
age_summary["Percentage of Players"] = age_summary["Percentage of Players"].astype(float).map("{:.2f}%".format)
age_summary.style.set_properties(**{'text-align': 'left'})

In [7]:
# Purchasing Analysis (Age)
# Create new dataframe with reduced columns
reduced_pur_df = purchase_data.loc[:, ["SN", "Age", "Price"]]
reduced_pur_df

# Slice the data and place it into bins
pd.cut(reduced_pur_df["Age"], bins, labels=group_labels)

# Place the data into a new column inside of the dataframe
reduced_pur_df["Age Ranges"] = pd.cut(reduced_pur_df["Age"], bins, labels=group_labels)
reduced_pur_df.head()

# Create a GroupBy object based on "Age Ranges"
pur_df = reduced_pur_df.groupby("Age Ranges")
pur_df.head(5)

# Calculate the purchase count
pur_count=pur_df["Age"].count()
pur_count

# Calculate total purchase value in each bin
pur_tot = pur_df["Price"].sum()
pur_tot

# Calculate the average purchase price
pur_avg = pur_tot / pur_count
pur_avg

# Calculate the average total purchase per person
tot_avg = pur_tot / player_amount
tot_avg

# Create the summary table
pur_summary = pd.DataFrame({"Purchase Count": pur_count, "Average Purchase Price": pur_avg,
                            "Total Purchase Value": pur_tot, "Avg Total Purchase per Person": tot_avg})
pur_summary

# Format and display the summary table
pur_summary["Average Purchase Price"] = pur_summary["Average Purchase Price"].astype(float).map("${:.2f}".format)
pur_summary["Total Purchase Value"] = pur_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
pur_summary["Avg Total Purchase per Person"] = pur_summary["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
pur_summary.style.set_properties(**{'text-align': 'left'})